<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://docdbbenchmarkfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/939ccc68-2b92-4148-874d-bf3892e5ba26/resourcegroups/MC_UX_ANALYTICS/providers/Microsoft.Web/sites/DocDBBenchmarkFunction</ResourceId>
    <UserName>$DocDBBenchmarkFunction</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://docdbbenchmarkfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>